.idea

.coverage
coverage.xml

__pycache__
*/__pycache__

database/*
!database/data_reader.py

logs/*
!logs/.gitkeep

todo.md

scripts/script_logs/import_new_database/*
!scripts/script_logs/import_new_database/.gitkeep

scripts/script_logs/quiz_template_generator/*
!scripts/script_logs/quiz_template_generator/.gitkeep

scripts/script_logs/statistics_report_generator/*
!scripts/script_logs/statistics_report_generator/.gitkeep

reports/*
!reports/.gitkeep