name: Run tests on every pull request

on:
  pull_request:

jobs:
  tests:
    name: Test on Python
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.14

      - name: Install requirements
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt

      - name: Run pytest with coverage (require at least 95%)
        env:
          PYTHONPATH: .
        run: coverage run -m pytest --cov=data_reader --cov=scripts --cov=main --cov=quiz_generator  --cov-fail-under=95 --cov-report=term --cov-report=xml

      - name: Upload coverage XML (always, for debugging)
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: coverage.xml
